
.bg {
  background-image: url("/images/home/starry-sky.jpeg");
  background-size: 2560px 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #040721;
}

.popCardBg {
  background-color: rgba(0, 0, 0, .7);
}