.select {
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1px + 50%), calc(100% - 16px) calc(1px + 50%);
    background-size: 4px 4px, 4px 4px;
    background-repeat: no-repeat;
}

.headerBgLine {
    background-image: url("/images/submit-project/bg-line.png");
    background-repeat: repeat;
    background-size: 89px 57px;
}

.headerBgGraph {
    background-image: url("/images/submit-project/bg-graph.png");
    background-repeat: no-repeat;
    background-size: 500px 300px;
}
