.bg {
  background-image: url('/images/home/starry-sky.jpg');
  background-size: 2560px 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #040721;
}
.working {
  position: absolute;
  top: calc(50% - 73px);
  left: calc(50% - 85px);
  width: 180px;
  height: 150px;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
}
.plantBg {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('/images/home/starry-sky-system.png');
  background-size: 2560px 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.constelacao {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: rotate 600s infinite linear;
}
.estrela {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation-name: estrela;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.estrelaStyle1 {
  animation-duration: 0.5s;
  animation-name: estrela;
}
.estrelaStyle2 {
  animation-duration: 1s;
  animation-name: estrela;
}
.estrelaStyle3 {
  animation-duration: 1.5s;
  animation-name: estrela;
}
.estrelaStyle4 {
  animation-duration: 2s;
  animation-name: estrelaDestacada;
}

.estrelaTam1 {
  width: 1px;
  height: 1px;
}
.estrelaTam2 {
  width: 2px;
  height: 2px;
}
.estrelaTam3 {
  width: 3px;
  height: 3px;
}

.estrelaOpacity1 {
  opacity: 1;
}
.estrelaOpacity2 {
  opacity: 0.6;
}
.estrelaOpacity3 {
  opacity: 0.3;
}

.popCardBg {
  background-color: rgba(0, 0, 0, 0.9);
}
.box {
  opacity: 0;
  border-radius: 50%;
}
.boxHover {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 50%;
}
.productivity {
  background: rgba(62, 150, 202, 0.26);
  border: 1px solid rgba(62, 150, 202, 0.8);
}
.robustness {
  background: rgba(255, 228, 116, 0.26);
  border: 1px solid rgba(255, 228, 116, 0.8);
}
.nicheCreation {
  background: rgba(255, 116, 240, 0.26);
  border: 1px solid rgba(255, 116, 240, 0.8);
}
.title1 {
  display: block;
  position: absolute;
  top: -154px;
  left: -76px;
  width: 160px;
  height: 20px;
  // background: rgb(23, 143, 63);
}
.title2 {
  display: block;
  position: absolute;
  top: -73px;
  left: -188px;
  width: 40px;
  height: 123px;
  // background: rgb(23, 143, 63);
}
.title3 {
  display: block;
  position: absolute;
  top: -73px;
  left: 157px;
  width: 40px;
  height: 143px;
  // background: rgb(23, 143, 63);
}
@keyframes estrela {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.1);
  }
}

@keyframes estrelaDestacada {
  0% {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
  }
  20% {
    background-color: #ffc4c4;
    box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
  }
  80% {
    background-color: #c4cfff;
    box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
  }
  100% {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
