.menu {
  transition: background 0.2s cubic-bezier(0.08, 0.52, 0.52, 1);

  &:hover {
    background: #0000000d;
  }
}

.menuActive {
  background: #0000000d;
}

.menuArrow {
  &:hover {
    background: rgb(229, 231, 235);
  }
}

.menuBox {
  transition: height 297ms ease-in-out 0s;
}
