.ant-table-filter-dropdown {
  .ant-btn-primary {
    background-color: #1677ff !important;
    // :hover {
    //   background-color: #4096ff !important;
    // }
  }
}
.ant-progress-bg {
  height: 2px !important;
  border-radius: 0px !important;
}
.ant-progress-line {
  padding: 0 !important;
  margin: 0 !important;
}
.ant-progress-inner {
  border-radius: 0px !important;
}
.ant-range-picker {
  border-radius: 0px !important;
  height: 26px;
  width: 250px;
}
.ant-org-input {
  border-radius: 0px !important;
  height: 26px;
  // width: 160px;
}
.ant-input,
.ant-input-group-addon,
.ant-input-affix-wrapper {
  border-radius: 0px !important;
}
.ant-input-search-button {
  border-start-end-radius: 0px !important;
  border-end-end-radius: 0px !important;
}
.ant-form-item-control-input {
  min-height: 24px !important;
}
.ant-picker-dropdown {
  z-index: 99999;
}
.ant-input-affix-wrapper:focus-within,
.ant-input:focus-within {
  border-color: unset;
  box-shadow: none;
}
.ant-input-affix-wrapper:hover {
  border-color: unset;
}
.ant-input:hover {
  border-color: unset;
}
.ant-picker-focused.ant-picker {
  border-color: unset;
  box-shadow: none;
}
.ant-picker:hover {
  border-color: unset;
}
.ant-select-focused .ant-select-selector {
  border-color: unset !important;
  box-shadow: none !important;
}
.ant-select:hover {
  border-color: #191919 !important;
}
.ant-select-selector:hover {
  border-color: #191919 !important;
}
.ant-form-item-explain-error {
  font-size: 12px !important;
}
.ant-btn-primary {
  background-color: #1677ff !important;
}
.ant-select-dropdown {
  z-index: 1400 !important;
}
.ant-select-selector {
  border-radius: 0 !important;
  // border-color: #cccccc !important;
}
.ant-select-dropdown {
  border-radius: 0 !important;
  .ant-select-item {
    border-radius: 0 !important;
  }
}
.ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 0 !important;
}
.work-bench {
  .ant-table-wrapper {
    height: 100%;
    .ant-spin-nested-loading {
      height: 100%;
      .ant-spin-container {
        height: 100%;
        .ant-table {
          height: 100%;
          .ant-table-container {
            height: 100%;
          }
        }
      }
    }
  }
}

.oh-tabs {
  .ant-tabs-nav-wrap {
    padding-left: 20px;
  }
  .ant-tabs-content-holder {
    overflow: auto;
  }
  .ant-picker {
    border-radius: 0 !important;
    width: 100%;
  }
}
.ant-radio-button-wrapper {
  border-radius: 0px !important;
}
.ant-col-24 {
  padding-left: 9px !important;
}
.ant-form-item-required {
  font-size: 14px !important;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #bfbfbf;
}
.ant-collapse-header-text {
  font-weight: 700;
}
.ant-dropdown-menu {
  border-radius: 0px !important;
}
.ant-image-preview-operations-wrapper,
.ant-image-preview-root {
  z-index: 1302 !important;
}
.ant-image-preview-mask,
.ant-image-preview-wrap {
  z-index: 1301 !important;
}
.oh {
  .ant-collapse {
    border-radius: 0px !important;
  }
  .ant-collapse-header {
    border-radius: 0px !important;
  }
  .ant-collapse-item:last-child {
    border-radius: 0px !important;
  }
  .ant-upload,
  .ant-upload-list-item {
    border-radius: 0px !important;
  }
  .ant-descriptions-bordered {
    .ant-descriptions-view {
      border-color: #e5e7eb !important;
      border-radius: 0px !important;
    }
  }
  .ant-descriptions-item-label {
    // background-color: #f9f9f9 !important;
    color: black !important;
    font-weight: 600;
  }
  .ant-layout-sider-trigger {
    font-size: 20px;
  }
  .ant-list-empty-text {
    border-bottom: 1px solid #e5e7eb !important;
  }
}
.ant-drawer {
  z-index: 1300 !important;
}
.oh-title-select {
  .ant-select-selection-item {
    font-size: 18px;
    font-weight: 600;
  }
}
.ant-popover {
  z-index: 9100 !important;
}
.ant-collapse-expand-icon {
  margin-top: 3px;
}
.ant-collapse-item {
  padding: 12px !important;
}
.responses {
  .ant-collapse-item {
    padding: 0 !important;
    .ant-collapse-header {
      padding: 0 !important;
      .ant-collapse-expand-icon {
        margin-top: 0 !important;
      }
    }
  }
}
.responses-top {
  .ant-collapse-expand-icon {
    margin-top: 0 !important;
  }
  .ant-collapse-content {
    border-top: 0 !important;
  }
}
.ant-btn {
  border-radius: 0 !important;
}
// 覆盖全局样式文件
// .ant-carousel {
// 导航箭头系统
// .slick-prev,
// .slick-next {
//   &::before {
//     border-color: #1890ff !important; // 品牌蓝色
//     border-width: 3px 3px 0 0; // 箭头锐度
//   }

//   &:hover::before {
//     border-color: #096dd9 !important; // 加深交互色
//     transform: scale(1.2); // 悬停放大
//   }
// }
// }
.slick-dots li button {
  background: #1890ff !important; // 品牌蓝色
}
.slick-dots li::after {
  background: #1890ff !important; // 激活态品牌色
}
