@use 'tailwind.css';
@use 'antd.scss';

html,
body {
  height: 100%;
}

body > #__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

textarea,
input[type='text'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
}

.react-datepicker {
  border: 1px solid #e4e7ed !important;
  padding: 10px;
}

.react-datepicker__header {
  background-color: #ffffff !important;
}

@media (pointer: fine) {
  .thin-scrollbar {
    scrollbar-width: thin;
  }

  .thin-scrollbar::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 10px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
  }
}

@supports (scrollbar-gutter: stable) {
  .thin-scrollbar {
    scrollbar-gutter: stable;
  }
}

.card-hash-active-border {
  border-color: #505050 !important;
}

.viewer-backdrop {
  background-color: rgba(0, 0, 0, 70%);
}
