.headerBgLine {
  background-image: url('/images/lab/bg-lab.png');
  background-repeat: repeat;
  background-size: 89px 57px;
}

.headerBgGraph {
  background-image: url('/images/lab/lab-folder@2x.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 60px;
}
.headerdsc {
  line-height: 1.38rem;
  margin-top: 0.94rem;
}
