name: Build and Unit Tests

on:
  push:
    branches:
      - 'release'
      - 'main'
    paths-ignore:
      - README.md
      - docs/**
  pull_request:
    branches:
      - 'release'
      - 'main'
    paths-ignore:
      - README.md
      - docs/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'yarn'
          registry-url: https://registry.npmjs.org/
      - run: yarn install
      - run: yarn test:ci
      - run: yarn build
