name: Publish image

on:
  push:
    branches:
      - 'main'

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main
      - name: Login to ACR
        uses: aliyun/acr-login@v1
        with:
          login-server: https://registry.cn-hongkong.aliyuncs.com
          username: "${{ secrets.REGISTRY_USERNAME }}"
          password: "${{ secrets.REGISTRY_PASSWORD }}"
      - name: Build and push image
        env:
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t "registry.cn-hongkong.aliyuncs.com/oss-compass/compass-web:latest" \
          -t registry.cn-hongkong.aliyuncs.com/oss-compass/compass-web:$IMAGE_TAG \
          --build-arg GIT_COMMIT=$IMAGE_TAG \
          -f "./docker/Dockerfile" \
          .

          docker push registry.cn-hongkong.aliyuncs.com/oss-compass/compass-web:$IMAGE_TAG
          docker push registry.cn-hongkong.aliyuncs.com/oss-compass/compass-web:latest

